<script src="/socket.io/socket.io.js"></script>
<script src="/script.js"></script>


<div id="game-background">
<div id="main">
    <div id="game-board">
    <div id="game-over" class="modal">
    <div class="modal-background"></div>
    <div id="dsp-winner"class="modal-content">
    <div class="box">
      <h3 id="winner"></h3>
    </div>
    </div>
    <button id="close-me" class="modal-close is-large" aria-label="close"></button>
    </div>

      <div id="movements">
      <div id="0" class="default"></div>
      <div id="1" class="default"></div>
      <div id="2" class="default"></div>
      <div id="3" class="default"></div>
      <div id="4" class="default"></div>

      <div id="5" class="default"></div>
      <div id="6" class="default"></div>
      <div id="7" class="default"></div>
      <div id="8" class="default"></div>
      <div id="9" class="default"></div>

      <div id="10" class="default"></div>
      <div id="11" class="default"></div>
      <div id="12" class="default"></div>
      <div id="13" class="default"></div>
      <div id="14" class="default"></div>

      <div id="15" class="default"></div>
      <div id="16" class="default"></div>
      <div id="17" class="default"></div>
      <div id="18" class="default"></div>
      <div id="19" class="default"></div>

      <div id="20" class="default"></div>
      <div id="21" class="default"></div>
      <div id="22" class="default"></div>
      <div id="23" class="default"></div>
      <div id="24" class="default"></div>
      </div>
    </div>

    <div id="info-panel"> 
      <div class="box">
        <button type="button" id="tiger-turn" class="button is-fullwidth is-medium" >TIGER</button>
        <button type="button" id="goat-turn" class="button is-fullwidth is-medium" >GOAT</button>
        <div id="message" class="box">
          <p>You have joined the game</p>
        </div>
        <table class="table is-striped">
          <tr>
            <th>Goat's Remaining</th>
            <td id="goats-remaining"></td>
          </tr>
          <tr>
            <th>Goat's Killed</th>
            <td id="goats-captured"></td>
          </tr>
          <tr>
            <th>Tigers Trapped</th>
            <td id="tigers-trapped"></td>
          </tr>
        </table>
        <input type="hidden" id="game-id" value="{{gameId}}">
        <input type="hidden" id="player" value="{{player}}">
        <a href="#" id="sng" class="button is-primary is-fullwidth">Start Playing</a>
      </div>
    </div>

</div>
</div>

