<body>
  <div id="main">
    {{#if uid}}
    <div id="panel">
      <p class="start-menu">your game id is:</p>
      <p class="start-menu">{{ uid }}</p>
      <p class="start-menu">Cick the link below and use the id to start playing</p>
      <a href="http://localhost:3000/playgame/{{ uid }}" <button type="button" className="start-menu">Play Bagh Chal</button></a>
    </div>
    {{else if join}}
    <div id="panel">
      <form action="http://localhost:3000/joingame" method="POST">
        <label class="start-menu" for="id">Enter your game id below:</label>
        <input type="number" id="id" name="id"><br><br>
        <button type="submit" class="start-menu">Play Bagh Chal</button>
      </form>
    {{else}}
    <div id="panel">
      <a href="http://localhost:3000/getnewid"> <button type="button" class="start-menu">Start New Game</button> </a>
      <a href="http://localhost:3000/join"> <button type="button" class="start-menu">Join Existing Game</button> </a>
    </div>
  </div>
  {{/if}}
</body>`

