

body {
  height: 100vh;
  width: 100vw;
  background-image: url('tiger-delos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#main {
  height: inherit;
  width: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
}

#panel {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: rgba(7,27,50,0.8);

}

.panel-item {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.text {
  color: white;
  font-size: 1.25rem;
  margin: auto;
}

#game-board {
  background-image: url('board.jpg');
  background-size: cover;
  height: 500px;
  width: 500px; 
}

#movements {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 40px;
  column-gap: 35px;
  row-gap: 38px;
}

.default {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  font-size: 30px;
  text-align: center;
  
}

.highlight {
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.move-piece {
  background: rgb(0, 100, 0);
  cursor: pointer;
}

.capture {
  background: rgb(255, 0, 0);
  cursor: pointer;
}

#test {
  height: inherit;
  width: inherit;
  background-color: rgba(7,27,50,0.5);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#info-panel {
  width: 30%;
}




