

#game-board {
  background-image: url('board.jpg');
  background-size: cover;
  height: 500px;
  width: 500px; 
}

body {
  text-align: center;
}

#movements {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 40px;
  column-gap: 35px;
  row-gap: 38px;
}

.default {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  font-size: 30px;
  text-align: center;
  
}

.highlight {
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.move-piece {
  background: rgb(0, 100, 0);
  cursor: pointer;
}

.capture {
  background: rgb(255, 0, 0);
  cursor: pointer;
}

#test {
  display: flex;
}


